#box{position: relative;
background: #393D42;
border-radius: 10px;
overflow-y: auto;
font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
height: 500px;
}
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
#messagesend{
  position: relative;
  width: 60%;
  height: 45px;
  margin-top: 3%;
  background: #646566;
  border-radius: 30px;
  margin-left: 20%;
  margin-bottom: 10%;
  padding-left: 2%;
  padding-right: 3%;
  border: none;
  font-size: 25px;
  color:#C4C4C4;
}
.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}